h1, p {
    text-align: center;
}

.board {
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 75vw;
}

.player-board {
    margin: auto;
}

.box-container {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    background-color: #6a7b4d;
}

.box:hover {
    opacity: 50%;
    cursor: pointer;
}

.red {
    background-color: rgb(120, 35, 35);
}

.black {
    background-color: #202020;
}

.dark-gray {
    background-color: rgb(89, 89, 89);
}

.winner {
    margin: auto;
    text-align: center;
    color: black;
}

@media (max-width: 1350px) {
    .board {
        flex-flow: column;
    }
}

@media (max-width: 600px) {

    .box-container {
        width: 250px;
        height: 250px;
    }

    .box {
        width: 23px;
        height: 23px;
    }
}